<footer class="site-footer" id="contact">
  <div class="container">
    <div class="site-footer__inner">
      <div class="site-footer__main">
        <h2 class="site-footer__title">
          Sip, Savor, Smile.<br>
          <span class="site-footer__title-accent">It's coffee time!</span>
        </h2>

        <ul class="socials">
          <li class="socials__item">
            <a href="#" class="socials__link" aria-label="Twitter">
              <svg width="24" height="24" aria-hidden="true">
                <use href="#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link" aria-label="Instagram">
              <svg width="24" height="24" aria-hidden="true">
                <use href="#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link" aria-label="Facebook">
              <svg width="24" height="24" aria-hidden="true">
                <use href="#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="site-footer__contacts">
        <h3 class="site-footer__subtitle">Contact us</h3>

        <ul class="contacts">
          <li class="contacts__item">
            <svg class="contacts__icon" width="20" height="20" aria-hidden="true">
              <use href="#pin-alt"></use>
            </svg>
            <a href="https://www.google.com/maps/search/?api=1&query=8558+Green+Rd,+LA" target="_blank"
              rel="noopener noreferrer">
              8558 Green Rd., LA
            </a>
          </li>
          <li class="contacts__item">
            <svg class="contacts__icon" width="20" height="20" aria-hidden="true">
              <use href="#phone"></use>
            </svg>
            <a href="tel:+16035550123">+1 (603) 555-0123</a>
          </li>
          <li class="contacts__item">
            <svg class="contacts__icon" width="20" height="20" aria-hidden="true">
              <use href="#clock"></use>
            </svg>
            <span>Mon-Sat: 9:00-23:00</span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>